main {
    height: 100vh;
}

.contact-form {
    margin-top: 50px;
    width: 50%;
    border-radius: 10px;
    background-color: #cccccc67;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

}

.form-item { 

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-item label {
    font-size: 1.3rem;
}

.form-item input {
    border: none;
    font-size: 1.2rem;
    padding: 10px;
}

.form-item textarea {
    border: none;
    font-size: 1.2rem;
}


.btn-flex {
    width: 100%;
    display: flex;
}

.btn-form {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
}

.btn-form:hover {
    color: #000;
    background-color: var(--highlight);
}