
.h2-main { 
    margin-bottom: 5rem;
}

.img-perfil {
    border-radius: 10px;
}

.img-card img {
    width: 326px;
    height: 326px;
}
.card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.5rem;
}

.card {
    overflow: hidden;
    display: flex;
    width: 330px;
    height: 550px;
    background-color: #fff;
    border: 1px solid #888888;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.card-content {
    display: flex;
    width: 80%;
    height: 30%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-btn {
    color: var(--background);
    background-color: var(--primary);
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.card-btn:hover {
    color: var(--primary);
    background-color: var(--highlight);

}

.card-h2 { 
    font-size: 1.2rem;
}

.card-p {
    font-size: 1rem;
    line-height: 30px;
    text-align: justify;
}

.btn-shop-car {
    background-color: #351515;
}
.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


