.title-github { 
    width:15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-github i {
    font-size: 1.5rem;
    color: #000;
}

.title-github i:hover {
    transform: scale(1.5);
}

.img-perfil-autor {
    border-radius: 10%;
    width: 200px;
}