.img-perfil {
    width: 100%;
}



.p-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-content p, ul, li {
    font-size: 1.2rem;
    margin-top: 10px;
}

.bold { 
    font-weight: bold;
}

